doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://unpkg.com/@primer/css@17.9/dist/primer.css")
    script(src="https://unpkg.com/@primer/css@17.9/dist/primer.js")
    style
      include changelog.css
    style.
      code {color:#f87070;font-family:monospace;font-size:1em;}
  body
    .new-container
      .col-md-8.mx-auto
        .p-3.mb-4.border-bottom.border-translucent-white
          h1.f1-light.text-white= title
      .release-notes
        each version in versions
          section.release-note.position-relative.container-new.py-6.px-3.text-left
            header.timeline-decorator.d-flex.flex-items-center.mb-3
              .version-badge.d-inline-block.bg-purple.p-1.rounded-1.mr-2.text-bold= version.version
              h2.f3-light.css-truncate.css-truncate-target= version.date || version.version
            ul.list-style-none.change-log
              each categoryName of Object.keys(version.categories)
                each change in version.categories[categoryName]
                  li.d-flex.flex-items-start.mb-2
                    .change-badge(class=`change-badge-${categoryName.toLowerCase()}`)= categoryName
                    .change-description!= change
